#!/usr/bin/env ruby

compile '/index.html' do
  layout '/default.*'
  filter :typogruby
  write '/index.html'
end

compile '/**/*.html' do
  filter :erb
  layout '/default.*'
  filter :typogruby
end

compile '/**/*.md' do
  filter :mustache
  filter :kramdown, input: "GFM"
  layout '/default.*'
  filter :typogruby
end

compile '/cards/**/*.png', rep: :thumbnail do
  filter :thumbnailize, width: 200
end

compile '/**/*' do
  write item.identifier.to_s
end

route '/index.html' do
  item.identifier
end

route '/**/*.{html,md}' do
  item.identifier.without_ext + '/index.html'
end

route '/cards/**/*.png', rep: :thumbnail do
  item.identifier.without_ext + '-thumbnail.' + item.identifier.ext
end

layout '/**/*', :mustache
