---
title: Les cartes
toc: true
---

<h1>Les cartes</h1>

<p>
Cette page référencie toutes les cartes présentes dans le jeu et leur caractéristiques. Pour voir la carte en taille réelle, cliquez sur l’image.
</p>

<h2 id="aff">Les affirmations</h2>

<p>
<table class="cards">
  <% @items.find_all('/cards/affirmations/*').each do |img| %>
  <tr>
    <td class="card-image"><a href="<%= img.path %>"><img src="<%= img.path(rep: :thumbnail) %>"/></a></td>
    <td class="card-description">
      <ul>
        <li>Coût&nbsp;: <%= img[:cost] || 0 %></li>
        <li>Valeur d'affirmation&nbsp;: <%= img[:aff] %></li>
        <li>Valeur de renommée&nbsp;: <%= img[:ren] %></li>
        <li>Nombre dans le jeu&nbsp;: <%= img[:count] %></li>
      </ul>
    </td>
  </tr>
  <% end %>
</table>
</p>

<h2 id="arg">Les argumentations</h2>

<p>
<table class="cards">
  <% @items.find_all('/cards/argumentations/*').each do |img| %>
  <tr>
    <td class="card-image"><a href="<%= img.path %>"><img src="<%= img.path(rep: :thumbnail) %>"/></a></td>
    <td class="card-description">
      <ul>
        <li>Coût&nbsp;: <%= img[:cost] || 0 %></li>
        <li>Valeur d'argumentation&nbsp;: <%= img[:arg] %></li>
        <li>Valeur de renommée&nbsp;: <%= img[:ren] %></li>
        <li>Nombre dans le jeu&nbsp;: <%= img[:count] %></li>
      </ul>
    </td>
  </tr>
  <% end %>
</table>
</p>
