---
title: Les cartes
toc: true
---

<h1>Les cartes</h1>

<p>
Cette page référencie toutes les cartes présentes dans le jeu et leur caractéristiques. Pour voir la carte en taille réelle, cliquez sur l’image.
</p>

<h2 id="aff">Les affirmations</h2>

<div class="row">
<% @items.find_all('/cards/affirmations/*').each do |card| %>
  <div class="col s12 m12 l6">
    <h4 class="header"><%= card[:title] %></h4>
    <div class="card horizontal">
      <div class="card-image">
        <a href="<%= card.path %>"><img src="<%= card.path(rep: :thumbnail) %>"/></a>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <% if card[:desc] %>
          <p><%= card[:desc] %></p>
          <% end %>
          <ul>
            <li>Coût&nbsp;: <%= card[:cost] || 0 %></li>
            <li>Valeur d'affirmation&nbsp;: <%= card[:aff] %></li>
            <li>Valeur de renommée&nbsp;: <%= card[:ren] %></li>
            <li>Nombre dans le jeu&nbsp;: <%= card[:count] %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<h2 id="arg">Les argumentations</h2>

<div class="row">
<% @items.find_all('/cards/argumentations/*').each do |card| %>
  <div class="col s12 m12 l6">
    <h4 class="header"><%= card[:title] %></h4>
    <div class="card horizontal">
      <div class="card-image">
        <a href="<%= card.path %>"><img src="<%= card.path(rep: :thumbnail) %>"/></a>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <% if card[:desc] %>
          <p><%= card[:desc] %></p>
          <% end %>
          <ul>
            <li>Coût&nbsp;: <%= card[:cost] || 0 %></li>
            <li>Valeur d'argumentation&nbsp;: <%= card[:arg] %></li>
            <li>Valeur de renommée&nbsp;: <%= card[:ren] %></li>
            <li>Nombre dans le jeu&nbsp;: <%= card[:count] %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
